%header#header
  %h1 Listing posts

%ol
  - @posts.each do |post|
    %li
      = link_to post.title, post
      %ul
        %li= link_to 'Edit', edit_post_path(post)
        %li= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%footer#footer
  = link_to 'New Post', new_post_path
